.navimated-header {

    div {
        background: #444;
        width: 30px;
        height: 30px;

        &:hover {
            background: #262626;
        }
    }
}
.navimated-menu {
    display: inline-block;
    width: 30px;
    height: 30px;
}
.navimated-menu-icon {
    display: inline-block;
    width: 15px;
    height: 2px;
    margin: 14px 0 0 8px;
    background: #fff;

    &:before, &:after {
        content: "";
        display: inline-block;
        width: 15px;
        height: 2px;
        background: #fff;
    }
    &:before {
        margin-top: -5px;
    }
    &:after {
        margin-top: 5px;
    }
}
nav {
    background: #444;
    height: 140px;
    display: none;
    opacity: 0;
    position: absolute;
    top: 20px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 10px 0;

        li {
            padding: 6px 0;
            margin: 0 30px 0;

            a {
                color: #fff;
                opacity: .8;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}