body {
  background: #dfdfdf;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

a {
  text-decoration: none; }

.navimated-header {
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: -62px; }
  .navimated-header div {
    background: #444;
    width: 30px;
    height: 30px; }

.navimated-sandwich {
  display: inline-block;
  width: 30px;
  height: 30px; }

nav {
  position: absolute;
  background: #444;
  width: 0px;
  height: 140px;
  top: 30px;
  left: 30px; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0; }
    nav ul li {
      padding: 6px 0;
      margin: 0 30px 0 0; }
      nav ul li a {
        color: #fff; }
